/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */

body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  color: #111827;
  line-height: 1.6;
}

/* NAVIGATION */

nav {
  background-color: #1e3a8a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav h1 {
  color: white;
  font-size: 28px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #c4b5fd;
}

/* HERO */

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-size: 45px;
  margin-bottom: 20px;
  color: #1e3a8a;
}

.hero p {
  margin-bottom: 30px;
}

/* BUTTON */

.btn {
  background-color: #7c3aed;
  color: white;
  padding: 14px 24px;
  text-decoration: none;
  border-radius: 8px;
}

.btn:hover {
  background-color: #5b21b6;
}